@model IEnumerable<Register.Models.Stack>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StackName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>            
            @Html.ActionLink(item.StackName, "Index", "Developers", new { stack = item.StackName }, null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StackId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StackId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StackId })
        </td>
    </tr>
}

</table>
